<!-- start Media Object - Default (no width) -->
<div class="media-object">
    <a href="#" class="media-object__media {% if pull == 'l-pull-left' %}{{ pull }}{% elseif pull == 'l-pull-right' %}{{ pull }}
    {% else %}{% endif %}">
        <figure>
            <img src="{{ img.wireframe_landscape_16x9.src }}" alt="{{ img.wireframe_landscape_16x9.alt }}">
        </figure>
    </a>
    <div class="media-object__body">
        <h4 class="media-object__heading">
            <a href="#" title="Page Title">
                Media Object -
                {% if pull == 'l-pull-left' %}Pull Left
                {% elseif pull == 'l-pull-right' %}Pull Right
                {% else %}Default{% endif %}
            </a>
        </h4>
        <ul class="media-object__meta">
            <li class="media-object__meta-author">by Rebecca Klein-Collins and Kathleen M. Glancey</li>
            <li class="media-object__meta-pubdate">
                <time datetime="{{ year.long }}-{{ month.digit }}-{{ year.short }}">{{ month.long }} {{ day.long }}, {{ year.long }}</time>
            </li>
        </ul>
        <p class="media-object__description">{{ excerpt.medium }}</p>
        <a href="#" class="media-object__link" title="Read More">Read More</a>
    </div>
</div>
<!-- end Media Object - Default (no width) -->
